html {
  scroll-behavior: smooth;
  height: 100%;

}
body {
  background-image: url('./assets/double-bubble-outline.webp');
  padding: 1%;
}

.card img {
  padding-top: 10px;
  height: fill;
  width: auto;
}

.card-new {
  text-align: center;
}

.card {
  margin: 10px;
}